<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="category" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxDataTraversal:{},dmxStateManagement:{},dmxBootstrap5Modal:{},dmxBootstrap5TableGenerator:{},dmxBootstrap5PagingGenerator:{}}" -->
<meta name="ac:route" content="/category">
<dmx-query-manager id="qm"></dmx-query-manager>
<dmx-serverconnect id="scMarketList" url="/api/Location/ActiveMarketList"></dmx-serverconnect>
<dmx-serverconnect id="scCategoryType" url="/api/Category/ActiveCategoryType"></dmx-serverconnect>
<dmx-serverconnect id="scCategoryList" url="/api/Category/CategoryList" dmx-param:user_type="user_type_select.value" dmx-param:offset="qm.data.offset" dmx-param:limit="25" dmx-param:sort="qm.data.sort" dmx-param:dir="qm.data.dir" dmx-param:search_value="formSearch.SearchValue.value.titlecase()" dmx-param:market_id="market_select.value" dmx-param:cat_type_id="cattype_select.value"></dmx-serverconnect>
<dmx-data-view id="dvCategoryList" dmx-bind:data="scCategoryList.data.CategoryList.data"></dmx-data-view>
<dmx-data-detail id="ddCategoryList" dmx-bind:data="content.dvCategoryList.data" key="id"></dmx-data-detail>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Category List</h2>
                                    <p>Total:<span class="bread-ntd panel-heading" dmx-text="content.scCategoryList.data.CategoryList.data.length"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="breadcomb-report">
                                <select class="form-control pro-edt-select form-control-primary" type="text" id="market_select" dmx-bind:options="scMarketList.data.ActiveMarkets" optionvalue="id" dmx-bind:value="1" optiontext="market_name_en">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="breadcomb-report">
                                <select class="form-control pro-edt-select form-control-primary" type="text" id="cattype_select" dmx-bind:options="scCategoryType.data.CatrgoryType" optionvalue="id" optiontext="type_name_en" dmx-bind:value="1">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>All Category List</h4>
                    <div class="add-product">
                        <a href="#" data-toggle="modal" data-target="#modalAddEdit">Add New Category</a>
                    </div>
                    <div class="breadcome-heading">
                        <form role="search" class="" id="formSearch">
                            <input type="text" placeholder="Search..." class="form-control" id="SearchValue">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="sorting" dmx-on:click="qm.set('sort','id');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='id' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='id' && qm.data.offset == 'desc'">Id</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','image');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='image' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='image' && qm.data.offset == 'desc'">Image</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','type_name_en');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='type_name_en' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='type_name_en' && qm.data.offset == 'desc'" dmx-show="!cattype_select.value">Category Type</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','en_name');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='en_name' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='en_name' && qm.data.offset == 'desc'">En Name</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','bn_name');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='bn_name' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='bn_name' && qm.data.offset == 'desc'">Bn Name</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','hin_name');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='hin_name' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='hin_name' && qm.data.offset == 'desc'">Hin Name</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','remarks');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='remarks' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='remarks' && qm.data.offset == 'desc'">Remarks</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','status');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='status' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='status' && qm.data.offset == 'desc'">Status</th>
                                    <th>Action</th>
                                    <th class="sorting" dmx-on:click="qm.set('sort','created_on');qm.set('offset',qm.data.offset == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='created_on' && qm.data.offset == 'asc'" dmx-class:sorting_desc="qm.data.sort=='created_on' && qm.data.offset == 'desc'">Created on</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dvCategoryList.data" id="tableRepeat1" dmx-state="qm" dmx-sort="sort" dmx-order="offset">
                                <tr>
                                    <td dmx-text="$index+1"></td>
                                    <td><img dmx-bind:src="image"></td>
                                    <td dmx-text="type_name_en" dmx-show="!cattype_select.value"></td>
                                    <td dmx-text="en_name"></td>
                                    <td dmx-text="bn_name"></td>
                                    <td dmx-text="hin_name"></td>
                                    <td dmx-text="remarks"></td>
                                    <td><button dmx-class:pd-setting="status==1" dmx-class:ds-setting="status==0">{{(status==1)?'Active':'InActive'}}</button></td>
                                    <td>
                                        <button title="Edit" class="pd-setting-ed" data-toggle="modal" data-target="#modalAddEdit" dmx-on:click="ddCategoryList.select(id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="Shipping Address" class="pd-setting-ed"><i class="fas fa-shipping-fast" aria-hidden="true"></i></button>
                                    </td>
                                    <td dmx-text="created_on.formatDate('dd-MM-yyyy hh:mm:ss A')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-light" dmx-show="content.scCategoryList.data.CategoryList.data.length==0">
                        <p class="text-center fa-2x text-warning">
                            No record Found!
                        </p>
                    </div>
                    <ul class="pagination" dmx-populate="scCategoryList.data.CategoryList" dmx-state="qm" dmx-offset="offset" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="scCategoryList.data.CategoryList.page.current == 1" aria-label="First">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="qm.set('offset',scCategoryList.data.CategoryList.page.offset.first)"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="scCategoryList.data.CategoryList.page.current == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="qm.set('offset',scCategoryList.data.CategoryList.page.offset.prev)"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == scCategoryList.data.CategoryList.page.current" dmx-class:disabled="!active" dmx-repeat="scCategoryList.data.CategoryList.getServerConnectPagination(2,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="qm.set('offset',(page-1)*scCategoryList.data.CategoryList.limit)">{{title}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="scCategoryList.data.CategoryList.page.current ==  scCategoryList.data.CategoryList.page.total" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="qm.set('offset',scCategoryList.data.CategoryList.page.offset.next)"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="scCategoryList.data.CategoryList.page.current ==  scCategoryList.data.CategoryList.page.total" aria-label="Last">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="qm.set('offset',scCategoryList.data.CategoryList.page.offset.last)"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal start -->
<div id="modalAddEdit" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog" is="dmx-bs5-modal" tabindex="-1">
    <form id="scformAddEdit" is="dmx-serverconnect-form" method="post" action="/api/Category/CategoryAddEdit" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="scCategoryList.load({user_type: user_type_name.value, market_id: market_select.value, cat_type_id: cattype_select.value});notifMain.success(scformAddEdit.data);scformAddEdit.reset(true)" dmx-on:forbidden="notifMain.warning(lastError.response)" dmx-on:error="notifMain.warning(lastError.response)" dmx-on:unauthorized="notifMain.warning(lastError.response)" dmx-on:invalid="notifMain.warning(lastError.response.data.validate_1)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                    <h4 class="modal-title">{{content.ddCategoryList.data.id?'Edit Category':'Add A New Category'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row mx-0">
                        <input type="hidden" name="EditCategoryId" id="EditCategoryId" dmx-bind:value="content.ddCategoryList.data.id">
                        <input type="hidden" name="MarketId" id="MarketId" dmx-bind:value="content.market_select.value">
                        <input type="hidden" name="CategoryTypeId" id="CategoryTypeId" dmx-bind:value="cattype_select.value">
                        <div class="col-12 col-md-6 mg-b-15">
                            <label>Category Name (English)<span class="compulsory">*</span></label>
                            <input type="text" class="select2_demo_3 form-control" name="en_name" required="" dmx-bind:value="content.ddCategoryList.data.en_name">
                        </div>
                        <div class="col-12 col-md-6 mg-b-15">
                            <label>Category Name (Bengali)<span class="compulsory">*</span></label>
                            <input type="text" class="select2_demo_3 form-control" name="bn_name" required="" dmx-bind:value="content.ddCategoryList.data.bn_name">
                        </div>
                        <div class="col-12 col-md-6 mg-b-15">
                            <label>Category Name (Hindi)<span class="compulsory">*</span></label>
                            <input type="text" class="select2_demo_3 form-control" name="hin_name" required="" dmx-bind:value="content.ddCategoryList.data.hin_name">
                        </div>
                        <div class="col-12 col-md-6 mg-b-15">
                            <label>Image</label>
                            <input class="select2_demo_3 form-control" name="image" type="file">
                        </div>
                        <div class="col-12 col-md-6 mg-b-15" dmx-show="content.ddCategoryList.data.id">
                            <label>Status</label>
                            <select class="select2_demo_3 form-control" id="status" name="status" dmx-bind:value="content.ddCategoryList.data.status">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mg-b-15" dmx-show="content.ddCategoryList.data.id">
                            <label>Remarks</label>
                            <textarea type="text" class="select2_demo_3 form-control" name="remarks" id="remarks" placeholder="Enter Any remarks" dmx-bind:value="content.ddCategoryList.data.remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" dmx-bind:disabled="state.executing">{{content.ddCategoryList.data.id?'Update':'Submit'}}<span class="spinner-border spinner-border-sm text-success" role="status" dmx-show="state.executing"></span></button>
                    <button data-dismiss="modal" class="btn btn-warning">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>