<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="productmark" appConnect="local" components="{dmxBootstrap5TableGenerator:{}}" -->
<meta name="ac:route" content="/product-mark">
<dmx-serverconnect id="scProductMark" url="/api/Product/ProductMarkList"></dmx-serverconnect>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Product Mark List</h2>
                                    <p>Total:<span class="bread-ntd panel-heading" dmx-text="content.scProductMark.data.Mark.length"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>All Product Mark List</h4>
                    <div class="breadcome-heading">
                        <form role="search" class="" id="formSearch">
                            <input type="text" placeholder="Search..." class="form-control" id="SearchValue">
                            <a href="" style="    top: 80px;"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Mark Name</th>
                                    <th>Color Code</th>
                                    <th>Color</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                    <th>Created on</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scProductMark.data.Mark" id="tableRepeat1">
                                <tr>
                                    <td dmx-text="id"></td>
                                    <td dmx-text="mark_name"></td>
                                    <td dmx-text="color_code"></td>
                                    <td><span dmx-class:dot-non-veg="color_code=='#da1519'" dmx-class:dot-veg="color_code=='#22aa00'"></span></td>
                                    <td><button dmx-class:pd-setting="status==1" dmx-class:ds-setting="status==0">{{(status==1)?'Active':'InActive'}}</button></td>
                                    <td dmx-text="remarks"></td>
                                    <td dmx-text="created_on.formatDate('dd-MM-yyyy hh:mm:ss A')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-light" dmx-show="content.scProductMark.data.Mark.length==0">
                        <p class="text-center fa-2x text-warning">
                            No record Found!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>